* {
  background-color: #e1dcd6;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
}

.App {
  margin: 0px 50px 0px 50px;
}

#nav-logo {
  height: 50px;
}

.component {
  border-style: solid;
}

#About {
  height: 325px;
}

#AboutContainer {
  margin: 50px;
  padding: 20px;
  width: 50%;
  /* background: rgba(255, 255, 255, 0.5); */
}

#Footer {
  position: absolute;
  right: 50px;
  bottom: 0;
  left:50px;
}
.footerIconContainer {
  float: right;
}
.footerIcon {
  height: 20px;
  margin: 10px;
}
