* {
  background-color: #e1dcd6;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
}

.App {
  /* margin: 0px 50px 0px 50px; */
  margin: auto;
  width: 80%;
  justify-content: center;
}

#nav-logo {
  height: 50px;
}

#About {
  justify-content: center;
}
#AboutText {
  margin: 50px;
  padding: 20px;
  height: auto;
  width: 25%;
  float: left;
  /* background: rgba(255, 255, 255, 0.7); */
}
#AboutImg {
  /* border-style: solid; */
  width: 100%;
}

.Project {
  padding: 50px;
}
.ProjectBttns {
  border-radius: 8px;
  padding: 5px;
  margin: 0px 10px 0px 10px;
}
.ProjectImg {
  width: 100%;
}

#Footer {
  right: 50px;
  bottom: 0;
  left:50px;
}
.footerIcon {
  height: 20px;
  margin: 10px;
}
