* {
  background-color: #e1dcd6;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
}

.App {
  /* margin: 0px 50px 0px 50px; */
  margin: auto;
  width: 75%;
  justify-content: center;
}

#nav-logo {
  height: 50px;
}

.component {
  border-style: solid;
}

#About {
  height: 325px;
}

#AboutContainer {
  margin: 50px;
  padding: 20px;
  width: 50%;
  /* background: rgba(255, 255, 255, 0.5); */
}

.Project {
  margin: 30px;
  padding: 20px;
}
.ProjectBttns button {
  border-radius: 20px;
  padding: 8px;
}
.ProjectImg {
  height: 300px;
}

#Footer {
  right: 50px;
  bottom: 0;
  left:50px;
}
.footerIcon {
  height: 20px;
  margin: 10px;
}
